# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore virtual environment
env/

# Ignore Django migrations (optional, if you regenerate them)
*.sqlite3
*.log

# Ignore IDE/editor files
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment files
.env
